<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<header th:fragment="header(currentPath)">
    <nav class="navbar">
        <a href="/" class="nav-item">
            <i class="fas fa-home"></i> Home
        </a>

        <a href="/academias/detail" class="nav-item">
            <i class="fas fa-user"></i> Meus Dados
        </a>
    </nav>
</header>
</body>
</html>
